 {% load static %}
 <!DOCTYPE html>
 <!-- Template by html.am -->
 <html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Submit a Privacy-Bucket request</title>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <script language="javascript" type="text/javascript" src="{% static "websocket.js" %}"></script>
</head>

<body>
    <center>

    <header id="header"><h1>Privacy Buckets Demo</h1></header>

    <div id="container">

        <main id="center" class="column">
            <article>



                <div id="no_js_window">
                    <p> This site requires JavaScript </p> 
                </div>



                <div id="form_window" style="display: none;">

                    <h1>Choose your mode!</h1>
                    Hello and welcome to the Privacy Buckets demo. Here you can chose what you want to examine. You can either use preset Gaussian or Laplacian distributions, or upload your own files. n denotes the number of compositions requested. 

                    <!--form name="request_form" method="post" enctype="multipart/form-data" action="result"-->
                    <form id="request_form" enctype="multipart/form-data">
                        {% csrf_token %}
						<p>
                            <h3>Number of compositions</h3>
                            <p>
                                n: <input name="n_param" type="number" value="16"><br>
                            </p>
                        </p><br>
						<hr>
						<p>
                            <h3><input type="radio" name="type" value="Gaussian" checked> Gaussian with 
                                sigma: <input name="sigma" type="number" value="4">
							</h3>
                        </p><br>
                        <p>
                            <h3><input type="radio" name="type" value="Laplace"> Laplace with scale parameter lambda: <input name="scale" type="number" value="1"></h3>
                        </p><br>
                        <p>
                            <h3><input type="radio" name="type" value="Custom"> Custom Histograms</h3>
                            <p>
                                distribution_1: <input type="file" name="distr_1"><br>
                                distribution_2:  <input type="file" name="distr_2"><br>
                            </p>
                        </p><br><br>
                        <p>The distribution files need to have one entry per line which correspond to the probability of the atomic event. Therefore, both files need to have the same number of lines.</p>
                        <p><button type="submit"><h2>Submit</h2></button></p><br>
                    </form>
                    It may take some time (up to 10 minutes), as we generate your personalized graph on the fly. 
                </div>



                <div id="result_window" style="display: none;"> 
                    <div  id="finite_result" style="display: none;">
                        <p> 
                            <h1>Results</h1>
                            <p>These are the graphs resulting from your query. </p>
                            <p id="image_container"></p>
                        </p>
                    </div>
                    <div>
                        <a href="/" class="button"><b>back (new query)</b></a>
                        <p>Console Output:</p>
                        <p id="console_window"></p>
                    </div>
                </div>



            </article>                              
        </main>

        <nav id="left" class="column">
        </nav>

        <nav id="right" class="column">
        </nav>
    </div>

    <div id="footer-wrapper">
        <footer id="footer"><p>Source code available at <a href="https://github.com/sommerda/privacybuckets">https://github.com/sommerda/privacybuckets</a></p></footer>
    </div>

</body>

</html>
